body {
  margin: 0;
  padding: 0;
}
.mainPart {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.card {
  background-color: blueviolet;
  width: 600px;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img {
  padding-top: 20px;
  width: 200px;
  height: 200px;
}
.intro {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.help_btns {
  display: flex;
  justify-content: center;
}
